body {
  margin: 0px;
  overflow: inherit;
}


.wrapper {
  display: flex;
  flex-flow: column;
}

.cosmographStyle {
  display: flex;
  height: calc(100dvh - 68px) !important;
}



.searchStyle{
  width: 100%;
  margin-inline: 10px;
}
.smui-text-field--standard .mdc-text-field__icon--leading {
margin-left: 8px;
}



.infoStyle {
  margin: 10px;
  color: white;
  font-size: 14px;
  white-space: pre-line;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-flow: column;
  z-index: 2;
}

.MuiCardHeader-subheader{
  color: lightgray !important;
}
.MuiCardHeader-avatar{
  margin-right: 10px !important;
}

.MuiAccordionSummary-content{
  margin: 0 !important;
}