body {
  margin: 0px;
  overflow: inherit;
}


.wrapper {
  display: flex;
  flex-flow: column;
  background: var(--cosmograph-search-input-background);
}

.cosmographStyle {
  display: flex;
  height: calc(100dvh - 168px) !important;
}


.timelineStyle {
  height: 100px;
}

.searchStyle{
  width: 100%;
  margin-inline: 10px;
}

.sidebarStyle {
  position: absolute;
  bottom: 70px;
  width: 350px;
  display: flex;
  flex-flow: column;
  margin: 5px;
}



.infoStyle {
  margin: 8px;
  color: white;
  font-size: 14px;
  white-space: pre-line;
}

.MuiCardHeader-subheader{
  color: lightgray !important;
}
.MuiCardHeader-avatar{
  margin-right: 10px !important;
}

.MuiAccordionSummary-content{
  margin: 0 !important;
}