body {
  margin: 0px;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
  background: var(--cosmograph-search-input-background);
}

.cosmographStyle {
  overflow: auto;
  height: calc(100% - 68px) ;
  display: flex;

}



.searchStyle{
  width: 100%;
  margin-inline: 10px;
}

.sidebarStyle {
  position: absolute;
  bottom: 70px;
  width: 350px;
  display: flex;
  flex-flow: column;
  margin: 5px;
}



.infoStyle {
  margin: 8px;
  color: white;
  font-size: 14px;
  white-space: pre-line;
}

.MuiCardHeader-subheader{
  color: lightgray !important;
}
.MuiCardHeader-avatar{
  margin-right: 10px !important;
}
:root *{
  --scrollbar-background: unset;
}